* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  background-color: black;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 100px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url('baking-delicious-pizza-with-wood-fired-oven.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  position: relative;
  transition: filter 0.5s ease, background-color 0.5s ease;
  filter: blur(0px);
  background-color: transparent;
  background-attachment: fixed;
}

.background.blurred {
  filter: blur(7px);
  background-color: black;
}

.overlay {
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding: 20px;
  background-color: #000000;
}

.about {
  padding: 20px;
  margin-top: 20px;
  color: white;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #370900;
  color: white;
}
