body {
    background-color: #1a1313;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#TituloContacto{
    color: rgb(53, 85, 126);
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    line-height: 1.1em
} 
 
h1 {
    color: #e63946;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: math;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #e63946;
    outline: none;
}

button {
    margin: 10px;
    width: 100%;
    padding: 10px;
    background-color: #e63946;
    color: rgb(75, 42, 42);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d62828;
    
}

.Formulario{
    background-color: rgba(74, 29, 29, 0.98);
    border-radius: 10px;
    padding: 2% 6%;
    font-family: sans-serif;
    color: red;
    margin-top: 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}