body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 181px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.stats {
    margin-top: 20px;
    text-align: center;
}

.stats h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.pizza-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pizza-stats .pizza {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    min-width: 200px;
    flex: 1;
}

.pizza-stats .pizza h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.pizza-stats .pizza p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .pizza-stats {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
        padding: 15px;
        margin-top: 40%;
        margin-left: 20px;
    }

    th, td {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2em;
        padding: 15px;
    }

    th, td {
        padding: 10px;
    }
}
