#NavProductos .botones-container {
    display: flex;
    gap: 15px;  
}

#NavProductos button {
    padding: 1px 0px;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 10px;
    border: none;
    background-color: #d4826f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#NavProductos {
    display: flex;
    justify-content: center;
    margin-bottom: -12px;
    margin-top: -12px;
}

main {
    justify-content: center;
    padding: 20px;
    margin-top: 90px;
}

#contenedorImagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin-top: 30px;
}



.productos {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ece4e4;
}

.productos img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boton {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #45a049;
}

#toggleCesta {
    cursor: pointer;
    background-color: #c35e5e;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
    border-radius: 5px;
    margin-top: 20px;
}

h1{
    margin-left: 38%;
}

#toggleCesta:hover {
    background-color: #cc1818;
}

#listaCesta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #fafafa;
}

#listaCesta li {
    list-style-type: none;
    margin: 5px 0;
}

#BotonContinuar{
    margin-left: 160px;
    margin-top: 40px;
    color: white;
    border-radius: 5px;
    background-color: green;
    padding: 5px;
}

.nav-link {
    background-color: #975136;  
    color: white; 
    padding: 6px;
    text-decoration: none; 
    border-radius: 5px;
    display: inline-block; 
}

.nav-link:hover {
    background-color: #de731c; /* Color de fondo al pasar el ratón */
}


#numeroProductos{
    display: none;
}