* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #1a1313;
}

header {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #370900e0;
    z-index: 1002;
    box-sizing: border-box;
}
 

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

nav ul li {
    margin: 0 20px; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Georgia', serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 0, 0, 0.131);
    color: #ffffff;
    border-radius: 5px;
}

.contact-info {
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 20px 0;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.map-container iframe {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border: none;
}

 