* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #000000;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #63030356;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 100px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #000000;
  margin-top: 80px;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  justify-items: center;
  margin: 50px auto;
  width: 70%;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.circle img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #370900;
  position: relative;
}
